.big_card {
    margin: 10px;
    transition: transform 100ms ease-in;
}

.big_card:hover{
    transform: scale(1.07);
}

.big_card > img {
    object-fit:cover;
    max-width: 600px;
    max-height: 450px;
    width: 100%;
}