.live_anywhere {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0px 60px;
}
h2 {
    margin: 0px 60px;
    margin-top: 30px;
    padding-left: 30px;
}

.become_host {
    margin-left: 130px;
    max-width: 450px;
    position: absolute;
    margin-top: 80px;
    border-radius: 15px;
    color: white;
    padding: 50px 50px;
    height: 300px;
}

.become_host > h1 {
    font-weight: 400;
    font-size: 40px;
}
.become_host > p {
    margin-top: 8px;
    max-width: 300px;
}
.become_host > button {
    margin-top: 8px;
    border-radius: 5px;
    cursor: pointer;
    background: white;
    width: 90px;
}

.host > img {
    max-width: 85%;
    max-height: 400px;
    object-fit:cover;
    width: 100%;
    margin: 10px 100px;
    border-radius: 15px;
}

.discover_exp {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    margin: 0px 60px;
}

.home > p {
    margin: 0px 60px;
    margin-top: 4px;
    padding-left: 30px;
}

.explore_nearby {
    display: flex;
    justify-content: space-between;
    margin: 30px 150px;
}



